h1 {
    color: blue;
}

td {
    text-align: center;
    background-color: rgb(235, 232, 232);
    height: 40px;
}
table {
    width: 30%;
    border: 0px solid;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}


#tab0 {
    background-color: gray;
}

#tab1 {
    background-color: greenyellow;
}
#tab2 {
    background-color: lightblue;
}
#tab3 {
    background-color: rgb(206, 106, 206);
}
#tab4 {
    background-color: rgb(235, 176, 66);
}

